<div class="col-xs-12">
    <br/>
    <br/>
    <div class="panel panel-primary" ng-init="getProductsData();">
        <div class="panel-heading clearfix">
            <h5 class="panel-title">
				Manage Products <a href="#" class="pull-right btn-sm btn-warning" ng-click = "addProduct()">Add Product</a>
			</h5>
        </div>
        <div class="panel-body">
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in products">
						<td>{{product.name}}</td>
						<td>{{product.description}}</td>
						<td>{{product.quantity}}</td>
						<td>{{product.price}}</td>
						<td><a href="#" ng-click="editProduct(product);">Edit</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    </div>
</div>